<p style="color: green"><%= notice %></p>
<%= render @recipe %>
<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
<div class="add-food">
  <%=link_to "Shopping List", shopping_list_recipe_path(@recipe) %>
  <%= render partial: "food_recipe_form", locals: {food_recipe: @food_recipe} %>
</div>
<div class="food-table">
  <% @ingredients.each do |ingredient| %>
    <div class="food-row">
      <div class="food-name"><%= ingredient.food.name %></div>
      <div class="food-quantity"><%= ingredient.quantity %> <%= ingredient.food.unit %></div>
      <div class="food-value">$<%= ingredient.food.price %></div>
      <div class="food-actions"> <%= link_to "Modify", edit_ingredient_path(@recipe, ingredient.food) %> | <%= button_to "Remove", ingredient, method: :delete %> </div>
      <br>
    </div>
  <% end %>
</div>
