<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>

<%= render 'foods/food', locals: { food: @food } %>

<div class="food-table">
  <% @recipe.foods.each do |food| %>
    <div class="food-row">
      <div class="food-name"><%= food.name %></div>
      <div class="food-quantity"><%= food.quantity %></div>
      <div class="food-measurement"><%= food.measurement %></div>
    </div>
  <% end %>
</div>
