<h2>Shopping List</h2>
<h4>Amount of food items to buy: <%=@shopping_list.count%></h4>
<h4>Total value of food needed: <%=@total_price%></h4>
<div class="shopping-list">
  <ul class="container">
    <% @shopping_list.each do |food, (key, val)| %>
      <li class="food-item">
        <%= food %>
        <%= key[:quantity] %> <%= key[:units] %>
        <%= key[:price] %>
      </li>
    <% end %>
  </ul>
</div>
